@model IEnumerable<iPhoneStoreWebAppMVC.Models.iPhone>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iPhone Store</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
<div class="container mt-4">
    <h1>Welcome to iPhone Store</h1>
    <div class="row">
        @foreach (var phone in Model)
        {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="@phone.ImageUrl" alt="@phone.Name" />
                <div class="card-body">
                    <h5 class="card-title">@phone.Name</h5>
                    <p class="card-text">@phone.Description</p>
                    <p class="card-text"><strong>@phone.Price $</strong></p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
